<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chuang.propertyanimatordemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnimateLayoutChanges" >
        </activity>
        <activity android:name=".AnimateFreeFall" >
        </activity>
        <activity android:name=".AnimateMoveInSecond" >
        </activity>
        <activity android:name=".AnimateMultiple" >
        </activity>
        <activity android:name=".AnimateLayoutTransition" >
        </activity>
        <activity android:name=".AnimateLayoutAnimation" >
        </activity>
        <activity android:name=".LoginAlphaAnimation" />
        <activity android:name=".LoginTranslationAnim" />
    </application>

</manifest>
